@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
}

body {
    display: flex;
    height: 100vh;
}

.appContainer {
    display: flex;
    width: 100%;
}

.navBar {
    width: 300px;
    background-color: olivedrab;
    padding: 20px;
}

.navBar h3 {
    margin: 0 0 20px 0;
}

.navBar ul {
    list-style-type: none;
    padding: 0;
}

.navBar li {
    display: block;
    width: 100%;
    margin: 10px 0;
    cursor: pointer;
    background-color: yellow;
    border: 1px solid black;
    padding: 15px;
    transition: background-color 0.3s ease;
}

.navBar li:hover {
    background-color: lightgray;
}

.mainContent {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.productCard {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: calc(25% - 40px); /* Ajusta el ancho de las tarjetas */
}

.productCard img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.productCard h3 {
    margin: 10px 0;
}

.productCard p {
    margin: 10px 0;
}



